/*main menu*/
body{
    margin: 0;
    padding: 0;
    background-color:#dadada;
}

header {
    font-family: 'Jura', sans-serif;
    box-shadow: 1px 2px 5px -2px;
    margin-bottom: 3px;
}


.menu{
    margin: 0;
    padding: 0;
}

.menu ul, 
.menu ol{  
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu > ul{
    display: flex;
    background: rgb(223, 18, 18);
    box-shadow: 2px;
}

.menu > ul li a{
    display: block;
    z-index: 20;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    color:rgb(238, 238, 238);
    text-transform: uppercase;
    text-decoration: none;
}

.menu >ul li:last-child{
    margin-left: auto;
}

.menu li a:hover{
    background: #990e0e;
    box-shadow: 1px 2px 5px -2px black;
    transition: all 0.2s ease;
}

/*submenu*/
.menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
    z-index: 20;
}

.menu li > ul li a{
    background: rgb(182, 9, 9);
    z-index: 20;
}

.menu li:hover > ul{
    display: block;
}



/*modal-popup*/

.modal{
    margin: 0;
    padding: 0;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);
    z-index:100;
    opacity:0;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.popup{
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 2%;
    background: rgb(255, 254, 254);
    border: 2px solid #881e1e;
}

.popup h3{
    text-align: center;
    padding: 0;
    margin: 0;
    color: #131320;    
}

.popup p{
    text-align: center;
    padding: 0;
    margin: 4% 0 8% 0;
    color: #131320;
}

.log__in{
    display: block;
    color: #fff;
    background: #881e1e;
    padding: 2%;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    text-decoration: none;
}

.reg {
    display: block;
    color: #fff;
    background: #881e1e;
    padding: 2%;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    text-decoration: none;
}

.container {
    position: center;
    width: 900px;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    background-color: #fff;   
    box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -13px 0 10px -13px rgba(0, 0, 0, .8),
   13px 0 10px -13px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
   z-index: -1;
}

.item {
    margin-bottom: 1px;
    padding: 0;
    background-color:rgb(121, 121, 121);
    min-height: 300px;
    transition: 1s;
}

.item:hover {
    transform: scale(1.02);
    z-index: 5;
}

.item1  {
    display: inline-block;
    position: relative;
    height: 600px;
    z-index: 4;
}

img {
    max-width: 100%;
    height: 600px;
}

.item1 span {
    display:inline-block;
    position:absolute;
    bottom: 0px;
    top: 80%;
    left: 0px;
    right: 0px;
    text-align: center;
    color:#FFF;
    font-family:'Jura', sans-serif;
    font-size:20px;
    background-color:rgba(0,0,0,.6);
    padding:10px 30px;
}

.item2  {
    display: inline-block;
    position: relative;
    height: 600px;
    z-index: 3;
}

.item2 span {
    display:inline-block;
    position:absolute;
    bottom: 0px;
    top: 80%;
    left: 0px;
    right: 0px;
    text-align: center;
    color:#FFF;
    font-family:'Jura', sans-serif;
    font-size:20px;
    background-color:rgba(0,0,0,.6);
    padding:10px 30px;
}

.item3  {
    display: inline-block;
    position: relative;
    height: 600px;
    z-index: 2;
}

.item3 span {
    display:inline-block;
    position:absolute;
    bottom: 0px;
    top: 80%;
    left: 0px;
    right: 0px;
    text-align: center;
    color:#FFF;
    font-family:'Jura', sans-serif;
    font-size:20px;
    background-color:rgba(0,0,0,.6);
    padding:10px 30px;
}

.item4  {
    display: inline-block;
    position: relative;
    height: 600px;
    z-index: 1;
}

.item4 span {
    display:inline-block;
    position:absolute;
    bottom: 0px;
    top: 80%;
    left: 0px;
    right: 0px;
    text-align: center;
    color:#FFF;
    font-family:'Jura', sans-serif;
    font-size:20px;
    background-color:rgba(0,0,0,.6);
    padding:10px 30px;
}